PORT=8080
DATABASE_URL=postgres://usuario:password@host/bd_name
REDIS_URL=rediss://default:password@host:6379
JWT_SECRET=tu_clave_secreta_super_segura
FRONTEND_URL=https://frontend-desplegado.com
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
SMTP_HOST=host.email
SMTP_PORT=port
SMTP_USER=youremail@example.com
SMTP_PASS=apppass
SMTP_SENDER=yoursenderemail@example.com
BREVO_API_KEY=your_api_key

# Configuración de Integridad de Cuotas (Anti-arbitraje)
ODDS_UPDATE_MODE=REBALANCE # REBALANCE para ajuste de cuotas y REJECT para rechazar la peticion con status 422
MIN_MARGIN=0.03 
COOLDOWN_DELTA_PCT=15
COOLDOWN_SECONDS=45